<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>The 1140px Grid &middot; Fluid down to mobile</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

	
	<!-- Your styles -->
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	
	
	<!--Delete embedded styles, just for example.-->
	<style type="text/css">
	
	body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
	.container p {
	color: #fff;
	line-height: 100px;
	background: #000;
	text-align: center;
	margin: 20px 0 0 0;
	}
	
	</style>

</head>


<body>

